<table class="table">
  <thead>
    <th></th>
    <th></th>
  </thead>

  <tbody>

<tr>
  <td><strong>対応者名</strong></td>
  <td><%= report.operator.name %></td>
</tr>

<tr>
  <td><strong>試した解決策（対応者）</strong></td>
  <td><%= report.operator.try_solution %></td>
</tr>

<tr>
  <td><strong>解決策</strong></td>
  <td><%= report.operator.solution %></td>
</tr>

</tbody>
</table>
